<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>

    <bean id="tr" class="com.samya.Trangle">
    <constructor-arg value="Equaltrangle"/>
    <constructor-arg value="20"/>
    </bean>
    
    <bean class="com.samya.DisplaynameBeanpostprocessor" >
    </bean>
    <bean class="com.samya.Beanfactorypostprocessor">
    </bean>
    
    
    
   <bean id="circle" class="com.samya.Circle">
   <constructor-arg value="50">
   </constructor-arg>
   </bean>

    </beans>
